<div class="row">
  <div class="col-md-12 text-center">
    <h2>Змінюємо Студента</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="editStudent" novalidate class="form">
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          <input
            placeholder="Повне Ім'я (ПІБ)"
            type="text"
            formControlName="full_name"
            class="form-control"
            value="{{ student.full_name }}"
          />
        </div>

        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          <div class="form-floating">
            <select formControlName="group_id" class="form-select">
              <option
                *ngFor="let group of groups"
                value="{{ group._id }}"
                selected="{{ group._id === student.group_id }}"
              >
                {{ group.name }}
              </option>
            </select>

            <label for="floatingSelect">Оберіть групу</label>
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 d-flex gap-2">
          <button type="submit" (click)="onSubmit()" class="btn btn-success">
            Підтвердити
          </button>

          <a routerLink="/" class="btn btn-danger"> Відмінити </a>
        </div>

        <div class="col-md-2"></div>
      </div>
    </form>
  </div>
</div>
