<div class="row">
  <div class="col-md-12 text-center">
    <h2>Add a Student</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="addStudent" novalidate class="form">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">Full Name</div>

        <div class="col-md-4">
          <input type="text" formControlName="full_name" class="form-control" />
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">Presents</div>

        <div class="col-md-4">
          <input type="checkbox" formControlName="presents" value="presents" />
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <button type="submit" (click)="onSubmit()" class="btn btn-success">
            Submit
          </button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </div>
</div>
