<div class="row">
  <div class="col-md-12 text-center">
    <h2>Add a Student</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="addStudent" novalidate class="form">
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          <input
            placeholder="Full Name"
            type="text"
            formControlName="full_name"
            class="form-control"
          />
        </div>

        <div class="col-md-2"></div>
      </div>

      <div *ngIf="groups.length !== 0" class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          <div class="form-floating">
            <select formControlName="group_id" class="form-select">
              <option *ngFor="let group of groups" value="{{ group._id }}">
                {{ group.name }}
              </option>

              <!-- <option selected value="none">Group</option> -->
            </select>

            <label for="floatingSelect">Select one</label>
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <button type="submit" (click)="onSubmit()" class="btn btn-success">
            Submit
          </button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </div>
</div>
