<div class="row">
  <div class="col-md-12 text-center">
    <h2>Add a Student</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="addStudent" novalidate class="form">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">Full Name</div>

        <div class="col-md-4">
          <input type="text" formControlName="full_name" class="form-control" />
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">Group</div>

        <div class="col-md-4">
          <div class="form-floating">
            <select
              formControlName="group_id"
              class="form-select"
              id="floatingSelect"
            >
              <option selected disabled>Choose a group</option>
              <option *ngFor="let group of groups" value="{{ group._id }}">
                {{ group.name }}
              </option>
            </select>
            <label for="floatingSelect">Select one</label>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <button type="submit" (click)="onSubmit()" class="btn btn-success">
            Submit
          </button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </div>
</div>
